.body {
    width: 1920px;
    height: 1080px;
}

.header {
    height: 520px;
    bottom: 100px;
    background-color: darkblue;
    background-image: url(img/work-desk__dustin-lee.jpg);
    opacity: 1;

}

.gambar1 {
   
    /* filter: alpha(opacity=60); */
    background-color: #004a75;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 520px;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    opacity: 2;
}

.notif{
    text-align: justify;
    margin-left: 0px;
}

.index {
    width: 100px;
    left: 15px;
    top: 1160px;
    background-color: #007bc1 ;
    opacity: 0.8;
    z-index : 1;
    position: absolute;
    height: 200px;
    width: 640px;
    
    
}

@media (max-width: 575.98px) {  
    
}